@model RepairViewModel

@{
    HashSet<string> customers = new();
    customers = (HashSet<string>)ViewData["Customers"];
    HashSet<string> cars = new();
    cars = (HashSet<string>)ViewData["Cars"];
    HashSet<string> parts = new();
    parts = (HashSet<string>)ViewData["Parts"];
}

<h3 class="text-center">New Repair</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label>Code</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Car</label>
                <select asp-for="Car" class="form-control">
                    @foreach (var car in cars)
                    {
                        <option>@car</option>
                    }
                </select>
                <span asp-validation-for="Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Part</label>
                <select asp-for="Part" class="form-control">
                    @foreach (var part in parts)
                    {
                        <option>@part</option>
                    }
                </select>
                <span asp-validation-for="Part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Customer</label>
                <select asp-for="Customer" class="form-control">
                    @foreach (var customer in customers)
                    {
                        <option>@customer</option>
                    }
                </select>
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Repair Date</label>
                <input asp-for="RepairDate" type="date" class="form-control" />
                <span asp-validation-for="RepairDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Work Cost</label>
                <input asp-for="WorkCost" class="form-control" />
                <span asp-validation-for="WorkCost" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </form>
    </div>
</div>